// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .header{
   background-color: #00FFFF;
 }

.header ul{
  padding-inline-start: 0px;
  margin:0px;
}

.left_header li{
  float: left;
  color: #DC143C;
  padding: 15px;
  margin:0px;
  width: auto;
  list-style: none;
}

.left_header li a {
  text-decoration: none;
  display: block;
  padding: 15px;
}

.right_header li{
  float: right;
  padding: 15px;
  margin:0px;
  width: auto;
  list-style: none;
}

.right_header li a {
  text-decoration: none;
  display: block;
  padding: 15px;
}

.tweet{
  background-color: #E0FFFF;
  margin:10px;
}

 .clearfix:after {
   content: "";
   display: block;
   clear: both;
 }

.footer{
  background-color:  #00FFFF;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer p {
  font-size: 1rem;
  color: #DC143C;
  text-align: center;
  vertical-align: middle;
}
